header {
  background: #2d4ea5;
  display: flex;
  text-align: center;
  height: 105px;
}
.loginDiv{
  border-radius: 20px;
  margin: 5% 38% 108px 39%;
  background: #758CAA;
  text-align: center;
}
body {
  background: #e8e9ec;
  margin: 0;
}
p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  color: #0d47a1;
}

.headerP{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-style: normal;
  color: #fff;
  flex-basis: 100%;
  margin: 35px;
}

.leftDiv {
  display: block;
  background: #0d47a1;
  height: 100vh;
}

.mainButton {
  color: #fff;
  background: #060b55;
  cursor: pointer;
  border-radius: 167px;
  border-style: none;
  width: 170px;
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.mainButton:hover{
  background: #0277bd;
}
.contentDiv{
  display: flex;
}
.rightDiv{
  flex-basis: 100%;
}
.JCDiv {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  color: #2d4ea5;
  padding-bottom: 5%;
  display: grid;
}
th {
  border-style: solid;
  border-color: #2d4ea5;
  color: #2d4ea5;
}
td {
  border-style: solid;
  border-color: #2d4ea5;
  color: #2d4ea5;
  font-size: 18px;
}
.buttonTable {
  color: #0d47a1;
  background: 0;
  cursor: pointer;
  transition: 0.5s;
  border: 0;
  font-size: 18px;
  width: 100%;
}
.buttonTable:hover{
  background: #5890c4;
  color: #fff;
}
input{
  Font-size: 1.1rem;
  border-radius: 5px;
  transition: 0.3s;
}
input:hover{
  background: #5890c4;
  border-color: #5890c4;
  color: #fff;
}
input:focus{
  background: #5890c4;
  border-color: #5890c4;
  color: #fff;
}
#loginForm{
  display: block;
}
#mainForm{
  display: none;
}
#controlShow{
  display: none;
}
#jcShow{
  display: none;
}
#settingsShow{
  display: none;
}
#logShow{
  display: none;
  margin-bottom: 109px;
}

#scanButton{
  width: 99px;
  height: 30px;
  background:  #2d4ea5;
  transition: 0.5s;
}

#scanButton:hover{
  background: #5890c4;
}

.addPC{
  text-align: center;
  margin-left: 27%;
  border: 10px solid #758CAA;
  background: #758CAA;
  border-radius: 20px;
  margin-right: 48%;
}
.settingsBox {
  margin: 10px;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
}
.settingsButton {
  cursor: pointer;
  border: none;
  background: #2d4ea5;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  border-radius: 49px;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.settingsButton:hover{
  background: #5890c4;
}
#showMenu{
  display: none;
}
@media (max-width: 430px){
  header{
    height: 65px;
  }
  .headerP{
    font-size: 25px;
    margin: 16px;
    flex-basis: 100%;
  }
  .leftDiv{
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 100vw;
    display: flex;
    /*! top: 222px; */
  }
  .mainButton{
    width: 135px;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 4px;
    margin-bottom: 11px;
  }
  td {
    font-size: 16px;
  }
  .JCDiv {
    font-size: 14px;
  }
  .buttonTable {
    font-size: 16px;
  }
  .addPC {
    margin-left: 22%;
    margin-right: 18%;
  }
  input{
    font-size: 14px;
  }
  #scanButton{
    font-size: 14px;
  }
  .loginDiv{
    margin: 15% 15% 3% 15%;
  }
}